Merge-connector.mpr.bak
Merge-connector.mpr.lock
.idea*
*.iml
/deployment
/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/merge-connector.mpr.bak
/merge-connector.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
